/* .footer {
    padding: 20px;
    width: 100%;
    height: 3rem;
    margin-top: auto!important;
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
    background-color: #f8f9fa;
} */
.footer {
    position: fixed;
    left: 20px;
    bottom: 0;
    width: 100%;
    background-color:#f8f9fa;
    color: white;
    text-align: left;
  }

main {
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .breadcrumb {
    background-color: transparent;
  }
  
  .footerWrap {
    /* margin-top: 20px; */
    width: 100%;
    height: 3rem;
    margin-top: auto!important;
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
  }

  .headline {
    margin-left: 20px
  }

  #chatWindow {
    height: 500px;
    border:1px solid #ccc;
    /* overflow: hidden; */
    overflow-y: scroll;
    word-wrap: break-word;
    scroll-behavior: smooth;
    padding-left:20px;
}

p {
    margin-top:15px;
}

h6 {
    margin-top:15px;
}

p {
  border-bottom-style: solid;
  border-width: thin;
  border-color:#ccc;
}